/* variable  */
:root {
    --Purple-100 : #dacffc;
    --Purple-500 : #7650dc;
    --Yellow-100: #f9eee1;
    --Yellow-500: #ffcb6b;
    --White: #ffffff;
    --Black: #121212;
    --font-size-p : 19px;
    --f-Weights4 : 400;
    --f-Weights5 : 500;
    --border-r-10 : 10px;
}
/* end variable  */

/* css reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
}


html {
    font-family: DM Sans;
    overflow-x: hidden;
}

img {
    width: 10rem;
}

/* end css reset  */

.container {
    background-color: #f8f7f7;
    width: 1400px;
    height: 100%;
    margin: 2rem;
    padding: 1rem;
    display: grid;
    place-self: center;
    grid-auto-columns: 1fr;
    grid-auto-rows: 75px;
    gap: 2rem;
    grid-template-areas: 
    "box1 box2 box2 box3"
    "box1 box2 box2 box3"
    "box1 box2 box2 box3"
    "box1 box2 box2 box3"
    "box1 box5 box6 box3"
    "box4 box5 box6 box3"
    "box4 box5 box6 box3"
    "box4 box7 box8 box8"
    "box4 box7 box8 box8"
    "box4 box7 box8 box8";
}
    
.box {
    border-radius: var(--border-r-10);
    overflow: hidden;
}

.box:nth-child(1) {
    background-color: var(--Yellow-100);
    font-weight: var(--f-Weights5);
    color: var(--Black);
    padding: 4rem 1.5rem;
    font-size: 30px;
    line-height: 40px;
    grid-area: box1;

    h1 {
        margin-bottom: 4rem;
    }
    img {
        width: 11rem;
    }
    span {
        color: var(--Purple-500);
    }
}

.box:nth-child(2) {
    background-color: var(--Purple-500);
    color: var(--White);
    padding: 3rem;
    font-size: 40px;
    text-align: center;
    grid-area: box2;

    span {
        color: var(--Yellow-500);
    }

    img {
        margin-top: 1.5rem;
    }

    p {
        font-size: var(--font-size-p);
        font-weight: var(--f-Weights4);
    }
}

.box:nth-child(3) {
    background-color: var(--Purple-100);
    color: var(--Black);
    padding: 2rem 2rem 2rem 2.5rem;
    grid-area: box3;

    h1 {
        font-size: 36px;
    }

    img {
        width: 20rem;
        aspect-ratio: 1 / 1;
        transform: translate(.2rem);
        margin: 1rem 0 1rem 0;
    }

    p {
        color: var(--Black);
        font-weight: var(--f-Weights5);
        font-size: var(--font-size-p);
    }
}

.box:nth-child(4) {
    background-color: var(--Yellow-500);
    font-weight: var(--f-Weights5);
    color: var(--Black);
    font-size: 31px;
    line-height: 42px;
    padding: 1.5rem;
    grid-area: box4;

    h1 {
        margin-bottom: 3rem;
    }

    img {
        width: 11rem;
        height: 12rem;
        margin: 2rem 0;
    }
}

.box:nth-child(5) {
    background-color: var(--White);
    padding: 2rem;
    line-height: 30px;
    grid-area: box5;

    img {
        transform: translate(1.2rem);
        width: 16rem;
        margin-bottom: 1rem;
    }
}

.box:nth-child(6) {
    background-color: var(--Yellow-500);
    padding: 1.5rem;
    line-height: 35px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: box6;

    img {
        transform: translate(0, 1rem);
        width: 12rem;

    }
}

.box:nth-child(7) {
    background-color: var(--White);
    padding: 2rem;
    grid-area: box7;

    h1 {
        font-size: 3.5rem;
    }

    p {
        margin-bottom: 1.5rem;
    }
}

.box:nth-child(8) {
    background-color: var(--Purple-500);
    color: var(--White);
    font-size: 28px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    grid-area: box8;

    img {
        width: 16rem;
    }
}

/* Mobiil  */
@media (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 450px;
        display: flex;
        flex-direction: column;
        padding: 10px 10px 10px 25px;
        margin: 0;

    .box {
        flex-direction: column;

        h1 {
            font-size: 38px;
        }
    }

    .box:nth-child(2) {
        order: -8;
    }
    .box:nth-child(5) {
        order: -7;
    }
    .box:nth-child(6) {
        order: -6;
    }
    .box:nth-child(3) {
        order: -5;
    }
    .box:nth-child(8) {
        order: -4;
    }
    .box:nth-child(7) {
        order: -3;
    }
}
}

